.carousel-inner > .carousel-item > img{
	margin:auto;
	width: 30px;
	height: 350px;
	border : 1px solid red;
}

.carousel {

	border : 1px solid gray;
	height: 350px;

}

body{
	width: 90%;
	margin: auto;
}

nav{
	opacity:0.7;

}

section {
	margin-top: 70px;
}


#carte{
	margin-top:8%;
	padding-top:5%;
	border-top: 1px solid black;
}

.card > img {
	margin:auto;
	width: 80%;
}

footer{

	background-color: black;
	margin-top: 10%;
}

.bordure{
	border: 1px solid red;
}

.center{
	margin:auto;
	/*border: 1px solid red;*/
}

.deuxTiers{
	width: 70%;
}

#inscription{
	padding-bottom: 10px;
	color:white;
}

h1{
	margin-top:15px;
	margin-bottom: 30px;
}

.padcenter{
	padding-left:40px;
	margin-bottom: 20px;
}

.carteGalerie{
	margin-top:20px;
	margin-bottom: 20px;
	text-align: center;
	

}

.imgGalerie{

	margin-bottom:20px;
	margin-left: 40px;

}

.logo{
	margin-left: 50px;
}

#logoCompte{
	width: 30px;

}

.rdv{
	margin-bottom: 30px;
	border-radius: 20px;
}

